# Ignore congiguration files
*.ini

# Ignore all files in the .idea folder
.idea/

# Ignore all log files
*.log
*.sql

# Ignore python cache files
__pycache__/


# Ignore all .pyc, .pyo, .pyd and .pyc files.
*.pyc
*.pyo
*.pyd
*.pyc

# Ignore the media folder where Django by default will put uploaded files
/media/

# Ignore the virtual environment
virt/

# Ignore coverage files
.coverage